.about-me-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.about-me-text p {
    width: 30%;
    font-size: large;
    text-align: left;
    margin-top: 1%;
    margin-left: 15.5%;
}

.about-header-line {
    width: 46.5%;
    height: 1px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 6%;
    margin-left: 3.5%;
  }

  .slide-in-section {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20vh);
    transition: opacity 2s ease-out, transform .5s ease-out;
    will-change: opacity, visibility;
  }
  .slide-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  .fade-in-section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  @media screen and (max-width: 768px) {
    .about-me-text p {
        width: 70%;
        font-size: large;
        text-align: left;
        margin-top: 1%;
    }
  }