.company-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.company-text p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
}