/* Navbar */
.navbar {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #090909;
    position: fixed;
    animation: fade-in-from-top 1s ease-in-out;
    z-index: 1000;
  }
  
  @keyframes fade-in-from-top {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar .logo img {
    width: 12%;
    align-items: center;
    margin-left: 6%;
    justify-content: center;
    cursor: pointer;
  }

  .navbar .logo img:hover {
    transform: scale(1.1);
    animation: ease-in-out ease-in-out 0.5s;
  }

  @keyframes ease-in-out {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  .nav-links div {
    padding: 1.8% 5%;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .nav-links {
   margin-right: 200px;
   display: flex;
  }
  
  .nav-links div:hover {
    cursor: pointer;
    color: lightgray;
    transform: scale(1.1);
    animation: ease-in-out ease-in-out 0.5s;
  }
  
  .nav-links div.active {
    color: #090909;
    background-color: #898fc7;
    border-radius: 5px;
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    min-width: 32px;
    height: 24px;
    margin-right: 20px;
    z-index: 1001;
  }

  .hamburger-menu div {
    width: 100%;
    border-radius: 50px;
    height: 3px;
    margin-bottom: 8px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .hamburger-menu.open .bar1 {
    transform: rotate(-225deg) translate(8px, -7px);
  }
  
  .hamburger-menu.open .bar2 {
    opacity: 0;
  }
  
  .hamburger-menu.open .bar3 {
    transform: rotate(225deg) translate(8px, 7px);
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      background-color: #191919;
      border-radius: 5px;
      width: 40%;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      margin: auto;
      padding-top: 10%;
      height: 100vh;
      animation: slide-from-right ease-in-out .3s;
      border: 2px solid #090909;  
    }

    .nav-links div {
      margin: 5%;
      padding: 5%;
    }

    .navbar  {
      left: 0;
      top: 0;
    }
  
    .nav-links.open {
      display: flex;
      
    }
  
    .hamburger-menu {
      display: block;
    }
  }