@keyframes fade-out {
    to {opacity: 0;}
  }
  
  @keyframes fade-in-from-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .beginning-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100vh;
    background-size: cover;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN8LelNh54lWcMZOnQCoKESOcvTXkufrY-UA&s');
  }
  
  .text-section {
    max-width: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-in-from-left {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .text-section p {
    margin: 1% 0;
    font-size: 1.5rem;
    width: 300px;
  }
  
  .first-p {
    opacity: 0;
    animation: fade-in-from-left 1s ease-in-out forwards;
    animation-delay: 0.5s;
  }
  
  .text-section h1 {
    font-size: 3rem;
    width: 150%;
    margin: 2% 0;
    color: #898fc7;
    opacity: 0;
    animation: fade-in-from-left 1s ease-in-out forwards;
    animation-delay: .85s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .second-p {
    opacity: 0;
    animation: fade-in-from-left .8s ease-in-out forwards;
    animation-delay: 1.1s;
  }
  
  .contact-button, .skills a {
    padding: 3% 5%;
    background-color: #898fc7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    font-size: 1.25rem;
    margin-top: 12%;
    color: #222222;
    font-weight: bold;
    opacity: 0;
    animation: fade-in-from-left .75s ease-in-out forwards;
    animation-delay: 1.25s;
    text-decoration: none;
  }
  
  .contact-button:hover, .skills a:hover {
    background-color: #6972c4;
  }
  
  .dividing-line {
    width: 1px;
    height: 40%;
    border-radius: 20px;
    background-color: white;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: .5s;
    margin-left: 15%;
  }
  
  /* Image Section */
  .image-section {
    text-align: center;
    position: relative;
    margin-right: 6%;
    animation: fade-in 2s ease-in-out;
  }
  
  .profile-image {
    position: relative;
    margin: auto;
    width: 78%;
    height: 78%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the circle properly */
  }

  @media screen and (max-width: 768px) {
    .beginning-content {
      height: 100vh;
    }
  
    .text-section {
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-top: 10%;
    }
  
    .text-section h1 {
      font-size: 2.5rem;
      width: 100%;
      margin-bottom: 5%;
    }
  
    .text-section p {
      width: 100%;
    }

    .contact-button {
      margin: auto;
      margin-top: 15%;
      margin-bottom: 20%;
    }
    
  }

  @media screen and (max-width: 1000px) {
    .dividing-line {
      display: none;
    }
    .profile-image {
      display: none;
    }
  }