.volunteering-header-line {
    width: 39%;
    height: 1px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 6%;
    margin-right: 3.5%;
}

.volunteering-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.volunteering-text p {
    width: 35%;
    font-size: large;
    text-align: right;
    margin-left: 46%;
}

.volunteering-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.volunteering-image img {
    text-align: right;
    width: 180%;
    margin-top: 5%;
    margin-left: 87%;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .volunteering-text p {
        width: 70%;
        font-size: large;
        text-align: left;
        margin-top: 5%;
        margin-left: 15%;
        margin-bottom: 5%;
    }

    .volunteering-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .volunteering-image img {
        width: 55%;
        border-radius: 20px;
        margin-left: 22%;
    }
    
  }